{% extends 'home/base.html' %}
{% block content %}
{% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "" %}">
    <link>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#tabledata').DataTable();
} );

</script>
<br>
<br>
<table id="tabledata" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>user</th>
        <th>title</th>
        <th>read</th>
        <th>resolved </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% load static %}
    {% for line in list %}
      <tr>
        <td>{{line.id}}</td>
        <td>{{line.user}}</td>
        <td><a href="/ticket_creation/detail/?id={{ line.id }}" >{{line.title}}</a></td>
        <td>{{line.read}}</td>
        <td>{{line.resolved}}</td>
        <td>
          {% if request.user.is_superuser %}
            <form method="POST" action="">
            {% csrf_token %}
                <button type="button" class="btn btn-danger" value="delete"></button>
                <a href="/ticket_creation/delete/?id={{ line.id }}" type="button" onclick="return clicked();">Delete</a>
            </form></td>
          {% endif %}
      </tr>
    {% endfor %}

<script>
    function clicked() {
       if (confirm('Do you want to delete?')) {
           yourformelement.submit();

       } else {
           return false;
       }
    }

</script>

    </tbody>
</table>
{% endblock %}
