<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#tabledata').DataTable();
} );

</script>
<br>
<br>
<table id="tabledata" class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>User</th>
        <th>title</th>
        <th>read</th>
        <th>resolved </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for line in list %}

      <tr>

          <td>{{line.id}}</td>
        <td>{{line.user}}</td>
        <td>{{line.title}}</td>
        <td>{{line.read}}</td>
        <td>{{ line.resolved }}</td>
        <td>
            <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" onclick="del_column(this,{{ line.id }})" value="delete" class="btn btn-danger"/>
        </form></td>
        </form>
      </tr>
    {% endfor %}
<script>
    function clicked() {
       if (confirm('Do you want to delete?')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }
</script>
<script type="text/javascript">
    function del_column(the,column_id){
        var index = layer.open({
            type:1,
            skin:"layui-layer-rim",
            area:["400px","200px"],
            title:"Delete",
            content:'Are you sure to delete',
            btn:['Yes','No'],
            yes: function(index,layero){
                $.ajax({
                    url: '{% url 'delete' %}',
                    type:'POST',
                    data: {'column_id':column_id},
                    success:function (e){
                    if(e=="1"){
                        parent.location.reload();
                        layer.msg("good");
                    }else{
                        layer.msg("新名称没有保存，修改失败。");
                    }
                }
                });
            },
            btn2: function(index,layero){
                layer.close(index);
            }
        }
        )
    }

</script>


    </tbody>
</table>
