{% extends "home/base.html" %}
{% block content %}
<body xmlns="http://www.w3.org/1999/html">

<!-- demo-title -->
<div class="demo-title">
	<h1 class="display-1">{{ item.title }}</h1>

    <h3>{{ item.id}}</h3>
    <h3>{{ item.user }}</h3>
    <h3>{{ item.description }}</h3>
    <dl class="item-property">
    <dt>Description</dt>
    <dd><p>{{ item.description }}</p></dd>
    </dl>
    <dl class="param param-feature">
    <dt>User</dt>
    <dd>{{ item.user }}</dd>
    </dl>  <!-- item-property-hor .// -->
    <dl class="param param-feature">
    <dt>ID</dt>
    <dd>{{ item.ticket_id }}</dd>
    </dl>  <!-- item-property-hor .// -->
    <a href="/ticket_creation/resolve/?id={{ item.id }}" type="button" onclick="return clicked();">Resolve</a>
</div>

<script>
    function clicked() {
       if (confirm('Do you want to resolve this ticket?')) {
           yourformelement.submit();

       } else {
           return false;
       }
    }

</script>


</body>
{% endblock %}
